<div>
  <h1>Etudiants</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date de naissance</th>
      <th>Cin</th>
      <th>Ecole</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of Etudiant">
      <td>{{e.name}}</td>
      <td>{{e.surname}}</td>
      <td>{{e.dateNaissance | date:'dd/MM/yyyy'}}</td>
      <td>{{e.cin}}</td>
      <td>{{e.ecole}}</td>
      <td>
        <button (click)="update(e)" class="btn btn-primary">Update</button>
        <button (click)="delete(e)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button routerLink="/etudiant/addEtudiant/:id" class="btn btn-primary">Ajouter Etudiant</button>
</div>

<ng-template #formUpdate let-e>
  <!-- TODO: implementer le formulaire d'édition -->
</ng-template>

<ng-template #formAdd>
  <!-- TODO: implementer le formulaire d'ajout -->
</ng-template>
